<div class="container">
<br>
<br>
<br>
<div class="row justify-content-center">
<h1>Employees Corner</h1></div>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
<%= button_to "Add New Employee", new_employee_path,method: :get , class:"btn btn-dark"%></div>
<br>
<br>
<br>
<br>
<div class="row justify-content-center">
<table class="table table-bordered">
<thead>
<tr>
<th scope="col" style="text-align: center">Employee</th>
<th scope="col" style="text-align: center">Emp Id</th>
<th scope="col" style="text-align: center">Action</th>
</tr>
</thead>
<tbody>
<% @employees.each do |employee|%>
<tr>
<td style="text-align: center"><%=employee.name%></td>
<td style="text-align: center"><%=employee.emp_id%></td>
<td style="text-align: center"><%=button_to "Show"  ,employee_path(employee),method: :get   , class:"btn btn-dark"%></td>
</tr>
<% end %>
</tbody>
</table>
</div>

